.container{
    padding: 5px 0;
    background-color: rgb(235, 230, 250);
    border-bottom: solid black 2px;
}

.navContainer{
    margin: 40px 40px;
    display: flex;
    justify-content: space-around;
    align-content: center;

}
.img{
    border-bottom: 2px solid black; /* Black border with 2px width */

}
.brandName{
    font-size: 68px;
    text-align: center;
}
